#define WIFI_SSID "MyWiFiNetwork"
#define WIFI_PASSWORD "password"
#define WIFI_AP_SSID "ESPCam32_AP"
#define WIFI_AP_PASSWORD "passwordforesp32"
#define OTA_PASSWORD "otapasswordforesp32"
//#define OTA_PASSWORD_NEW "otapasswordforesp32"  //<for replacing pwd (OTA_PASSWORD=the old one)
